
.mnt-yellow{
color:var(--e-global-color-primary)
}
.mtn-gray{
color:var(--e-global-color-secondary);
}
.mtn-green{
   color:var(--e-global-color-21111c6) 
}

.mtn-primary-font{
   font-family:  var(--e-global-typography-primary-font-family);
   font-size:  var(--e-global-typography-primary-font-size);
   font-weight:  var(--e-global-typography-primary-font-weight);
}
.mtn-secondary-font{
    font-family:  var(--e-global-typography-secondary-font-family);
    font-size:  var(--e-global-typography-secondary-font-size);
    font-weight:  var(--e-global-typography-secondary-font-weight);    
}
.mtn-text-font{
    font-family:  var(--e-global-typography-text-font-family);
    font-size:  var(--e-global-typography-text-font-size);
    font-weight:  var(--e-global-typography-text-font-weight);
}
.mtn-accent-font{
    font-family:  var(--e-global-typography-accent-font-family);
    font-size:  var(--e-global-typography-accent-font-size);
    font-weight:  var(--e-global-typography-accent-font-weight);
}

/*** OWL CAROUSEL ***/
.products-carousel .owl-dots, .deal-carousel .owl-dots {
    margin-top: 30px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: -60px;
    left: 0!important;
}
/*** OWL CAROUSEL - Controls ***/
.owl-dot {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    user-select: none;
}

.owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    border: #ffcc00 1px solid;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
    cursor: pointer;
}

/*** General Button ***/
.mtn-btn{
    padding: 20px 0;
    background: #fcd818;
    background: linear-gradient(180deg, #fce068 0%, #fcd818 100%);
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 16%);
    color: #202020;
    border: 0;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 16%);
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover{
    background-color: var(--e-global-color-primary);
}

.owl-dots .active span {
    background-color: var(--e-global-color-primary);
    border: none;
    width: 14px;
    height: 14px;
}

    /***
    ** DEALS CAROUSEL
    **/
    .mtn-deals-carousel-section{
        min-height: 400px!important;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        /* align-items: flex-end; */
        padding: 30px;
        margin: 0 15px;
    }
    .deals{
        min-height: 400px!important;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        /* align-items: flex-end; */
        padding: 30px;
        margin: 0 15px;
        overflow: hidden!important;
    }

    .read-more-btn{
        padding: 10px 10px;
        background-color: white;
        border-radius: 15px;
        color: black;
        text-decoration: none;
        font-weight: bold;
    }
    .deals-contents{
        width: 100%;
        /* background-image: linear-gradient(#00000011, #000000); */
        left:15px;
        right:15px;
        height: 100px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: flex-end;
        justify-self: flex-end;
        bottom: 0;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    

    .half-img{
        height: 248px;
        border-radius: 20px;
        cursor: pointer;
    }
    .main-galery .col .col-md-12:nth-child(2){
        margin-top: 5%;
    }
    .full-imgs{
        height: 100%;
        border-radius: 20px;
        cursor: pointer;
    }
    .main-galery{
max-height: 500px;
min-height: 500px;
    }