/****
** Unformatted
**/

a,
.comments-area a,
.page-content a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.mnt-yellow {
  color: var(--e-global-color-primary);
}
.hover-yellow:hover {
  color: var(--e-global-color-primary);
}
.mtn-gray {
  color: var(--e-global-color-secondary);
}
.mtn-text-gray {
  color: var(--e-global-color-22051a5);
}
.mtn-green {
  color: var(--e-global-color-21111c6);
}

.mtn-primary-font {
  font-family: var(--e-global-typography-primary-font-family);
  font-size: var(--e-global-typography-primary-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
}
.mtn-secondary-font {
  font-family: var(--e-global-typography-secondary-font-family);
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
}
.mtn-text-font {
  font-family: var(--e-global-typography-text-font-family);
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
}
.mtn-accent-font {
  font-family: var(--e-global-typography-accent-font-family);
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
}


.border-yb-gray {
  border-bottom: 1px solid var(--e-global-color-22051a5);
  padding-bottom: 10px;
  margin-bottom: 20px;
}



/*** General Button ***/
.mtn-btn {
  padding: 20px 0;
  background: #fcd818;
  background: linear-gradient(180deg, #fce068 0%, #fcd818 100%);
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 16%);
  color: #202020;
  border: 0;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 16%);
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-white {
  background: #FFFFFF;
  padding: 8px 20px;
  border-radius: 36px;
}

.btn:hover {
  background-color: var(--e-global-color-primary);
}
.btn-long-left {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
}

.btn-long-left:not(:first-child) {
  margin-left: 10px;
}
.btn-long-left:not(:last-child) {
  margin-right: 10px;
}

/**** ALIGNMENT ****/
.flex-align-top {
  top: 0;
  bottom: auto;
}
.flex-align-bottom {
  top: auto;
  bottom: 0;
}
/**** ALIGNMENT ****/
.grid{
  display: grid !important;
  grid-gap: 20px;
}

/*** MEGAMENU CONTENT***/

.mtn_mega_nav_content{
  position: absolute;
  top:98%;
  display: none;
  pointer-events: none;
  width: 140% !important;
  z-index: 2;
} 
/* .mtn_mega_nav_content:nth-child(3) .elementor-container{
  margin: 0;
} */

.mtn_mega_nav_content:hover, .mtn_mega_nav_content:focus, .mtn_mega_nav_content:focus-within{
  display: flex;
  pointer-events: visible;
  
}

.mtn_mega_nav_item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;    
  -ms-flex-align: center;    
  align-items: center;   
  height: 68px; 
}

.mtn_mega_nav_item:hover + .mtn_mega_nav_content, .mtn_mega_nav_item:focus-within + .mtn_mega_nav_content {
  display: flex;
  pointer-events: visible;
}

.mega-menu-skip-4 .elementor-nav-menu{
  display: flex;
  flex-wrap: wrap;
}

.mega-menu-skip-4 .elementor-nav-menu li {
    flex: 0 0 50%;
}


/*** OWL CAROUSEL ***/

.owl-carousel .owl-dots {
  position: absolute;
  display: flex;
  margin-top: 30px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  zoom: 1;
  cursor: pointer;
  padding: 0;
  user-select: none;
}
.owl-buttom .owl-dots {
  bottom: 0;
  top: auto !important;
}

.owl-dots .owl-dot span {
  width: 15px;
  height: 15px;
  margin: 5px 7px;
  border: #ffcc00 1px solid;
  display: block;
  -webkit-backface-visibility: visible;
  transition: opacity 200ms ease;
  border-radius: 30px;
  cursor: pointer;
}

.owl-dots .active span {
  background-color: var(--e-global-color-primary);
  border: none;
  width: 14px;
  height: 14px;
}

.product-column {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  flex-direction: column;
}

.product-container {
  height: 100%;
  width: 100%;
  background-color: var(--e-global-color-5560f7d);
  padding: 40px;
  margin: 10px;
  border-radius: 25px;
}

.product-img {
  height: 100%;
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
/***
    **FILTER PAGE
    **/
.post-card .post-wrapper {
  position: relative;
  display: flex;
  height: 300px;
  border-radius: 16px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.post-filter-content .post-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  background: #0000003a;
}

.posts-filter.nav-item.active:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid red;
  z-index: 0;
}

.posts-filter .nav-item .active:after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 40%;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #000000;
  z-index: 0;
}

.posts-filter .nav-link {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  width: 90px;
  height: 90px;
  padding: 20px 10px 20px 10px;
  z-index: 1;
}

.posts-filter .nav-link .filter-tab-title {
  margin-top: 0px;
}
.posts-filter .nav-link i {
  font-size: 30px;
  line-height: 1;
}

.posts-filter .nav-link svg {
  max-width: 30px;
  height: auto;
}
.post-call-to-action {
  display: flex;
  margin: auto;
  justify-content: center;
}
.post-call-to-action a {
  border-radius: 24px;
  text-align: center;
  background: var(--e-global-color-primary);
  padding: 10px 80px;
}
.post-call-to-action a:hover {
  background: #000000;
  color: #ffffff;
  padding: 10px 80px;
}
/***
    **CAROUSEL
    **/
.carousel-column {
  position: relative;
  border-radius: 20px;
  min-height: 400px !important;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  padding: 30px;
  overflow: hidden !important;
  background-size: cover;
}

.read-more-btn {
  padding: 10px 10px;
  background-color: white;
  border-radius: 15px;
  color: black;
  text-decoration: none;
  font-weight: bold;
}
.deals-contents {
  width: 100%;
  /* background-image: linear-gradient(#00000011, #000000); */
  left: 15px;
  right: 15px;
  height: 100px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  justify-self: flex-end;
  bottom: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.half-img {
  height: 248px;
  border-radius: 20px;
  cursor: pointer;
}
.main-galery .col .col-md-12:nth-child(2) {
  margin-top: 5%;
}
.full-imgs {
  height: 100%;
  border-radius: 20px;
  cursor: pointer;
}
.main-galery {
  max-height: 500px;
  min-height: 500px;
}

/**** FLex Grid****/
.mtn-flex-grid-section {
  overflow: hidden;
  position: relative;
}
.flex-column {
  position: relative;
  height: 100%;
}
.flex-card {
  position: relative;
  border-radius: 20px;
}
.flex-card img {
  object-fit: cover;
}

.flex-card-content {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.flex-column .img-fluid {
  width: 100%;
  height: 100%;
}

/* TEAM */

.profile-card {
  border-radius: 20px;
  box-shadow: 6px 1px 12px 7px rgba(0, 0, 0, 0.077);
  overflow: hidden;
  margin-top: 30px;
}

.profile-title {
  min-height: 120px;
  overflow: hidden;
}

.profile-title .col-md-8 {
  background-color: #ffcc00;
  padding: 20px;
}

.profile-picture {
  background-size: cover;
  width: 100%;
  min-height: 200px;
}

.profile-body {
  padding: 20px;
}

.profile-body p {
  font-size: 14px;
  min-height: 70px;
}

p .team-excerpt {
  min-height: 70px;
}

.team-more-btn {
  border: 1.5px solid #ffcc00;
  padding: 8px 15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: center;
  color: black;
  cursor: pointer;
}

.team-more-btn:hover {
  color: #ffcc00;
  background-color: #ffffff;
}

.team-more-btn .icon-desc {
  text-align: center;
}
/**** TEAM MODAL ***/

.mtn-team-modal.show {
  display: flex !important;
  align-content: center;
  align-items: center;
}

.mtn-modal-dialog {
  display: flex;
  align-items: center;
  max-width: 100%;
  width: 500px;
}

.mtn-modal-row {
  min-height: 100%;
  width: 100%;

  overflow: hidden;
}

.team-member-img {
  padding: 0;
}
.team-member-img img {
  min-height: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/**
** Accordion styles
**/
.mtn-accordion .mtn-accordion-content {
  min-height: 400px;
  overflow: hidden;
  text-align: left;
}
.mtn-accordion-row .nav-pills .nav-link {
  border-radius: 0;
  text-align: left;
}
.mtn-accordion-row .tab-content {
  display: flex;
}
.section-navigator {
  padding: 0;
  overflow: hidden;
}

/**
** FAQ Section
**/
.faq-column {
}
.faq-wrapper {
  height: 100%;
}
.faq-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

/**
** Responsiveness
**/
@media (max-width: 768px) {
  .owl-carousel .owl-dots {
    display: none;
  }
}

/***COMPLEX OWL CAROUSEL ****/

.complex-carousel-row {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(4, minmax(0, 1fr));
}

.complex-carousel-row div{
  max-height: 100%;
}

.complex-column-item {
  grid-row-start: auto;
  grid-column-start: auto;
  grid-row-end: auto;
  grid-column-end: auto;
  overflow: hidden;
  padding: 0;
}

.complex-carousel-row .complex-column-item {
  background: #ffcc00;
  height: 100%;
  position: relative;
}

.complex-column-wrapper {
  width: inherit;
  height: inherit;
}
.complex-item-wrapper{
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.bru-divDivider{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.bru-divDivider-top{
  top: 0;
  bottom:auto;
}
.bru-divDivider-bottom{
  top: auto;
  bottom:0;
}
.bru-divDivider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 50px;
}
.bru-divDivider .shape-fill {
  fill: #000000;
}


.complex-grid-img-container{
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.complex-grid-img-container img.complex-col-img {
  height: 90%;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.complex-grid-col-content.overlay-content{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 20px;

}

.btn i{  
  margin-left: 8px;
}

/***COMPLEX FILTER CAROUSEL ****/

.complex-filter-section{

}

.complex-filter-section .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff;
  background-color: black;
}
.complex-filter-section .nav-pills .nav-link {
  color: black;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 5px;
  height: 45px;
}
.complex-filter-section .document-card{
  background-color: #f2f2f2;
  border-radius: 36px;
  padding: 40px;
  margin: 10px;
  box-shadow: 2px 2px 10px #f2f2f2;

}  
.complex-filter-section .icon
{
  height: 80px;
  width: 80px;
  border-radius: 100px;
  background-color: #ffcc00;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  align-items: center;

}
.complex-filter-section .btn
{
  background-color: #ffcc00;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 2px 2px 10px #f2f2f2;
  
}
.complex-filter-section i
{
  font-size: 36px;
}