/**/

.topic {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    /* height: 500px; */
    padding: 40px 40px;
    gap: 20px;
}

.topic-owl-carousel .owl-dots {
    margin-top: 30px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    position: absolute;
    top: 0!important;
    left: 0 !important;
}

.topic-owl-carousel .owl-dots .active span {
    background-color: #000!important;
    border: none;
    width: 14px;
    height: 14px;
}

.topic-owl-carousel .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    border: #ffcc00 1px solid;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity 200ms ease;
    border-radius: 30px;
    cursor: pointer;
}

.topic-owl-carousel a {
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    padding: 3px 15px;
    text-decoration: none;
}

.topic-owl-carousel .topic-body p {
    color: #fff;
    font-size: 20px;
}

.topic-owl-carousel .topic-title {
    color: #ffcc00;
}

.topic-owl-carousel .col-md-12 .curve {
    position: relative;
    display: block;
    height: 140px;
    bottom: 0;
    margin-top: 0;
    overflow: hidden;
}

.topic-owl-carousel .col-md-12 .curve::after {
    border-radius: 50%;
    box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.05);
    height: 100px;
    bottom: 0;
    transform: translate(-5%, -100%);
    -ms-transform: translate(-5%, -100%);
    -webkit-transform: translate(-5%, -100%);
    content: "";
    position: absolute;
    width: 110%;
    z-index: -30;
    background: #000;
}

.topic-owl-carousel .curve1 {
    transform: rotate(180deg);
    /* transform: scaleX(-1); */
}

.topic-owl-carousel .col-md-12 .curve1 {
    position: relative;
    display: block;
    height: 100px;
    bottom: 0;
    margin-top: 0;
    overflow: hidden;
}

.topic-owl-carousel .col-md-12 .curve1::after {
    border-radius: 50%;
    box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.05);
    height: 60px;
    bottom: 0;
    transform: translate(-5%, -100%);
    -ms-transform: translate(-5%, -100%);
    -webkit-transform: translate(-5%, -100%);
    content: "";
    position: absolute;
    width: 110%;
    z-index: -1;
    background: #000;
}

.title-Topic {
    position: absolute;
    left: 40%!important;
}


/* newsroom */

.news-container {
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
    max-height: 400px;
    min-height: 400px;
    background-size: cover;
    padding: 0!important;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 6px 1px 12px 7px rgba(0, 0, 0, 0.077);
}

.latest-contents {
    background-color: white!important;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 30px;
    gap: 20px;
    font-weight: 700;
}

.news-full-container .latest-contents a,
.news-container .latest-contents a {
    background-color: black;
    color: white;
    border-radius: 20px;
    text-decoration: none;
    padding: 5px 15px;
    font-size: 12px;
}

.news-full-container {
    max-height: 400px;
    min-height: 400px;
    display: flex;
    padding: 0!important;
    overflow: hidden;
    margin-top: 30px;
    box-shadow: 6px 1px 12px 7px rgba(0, 0, 0, 0.077);
    border-radius: 20px;
    margin: 30px 0;
}

.news-full-container .col-md-8 {
    background-size: cover;
    border-radius: 20px;
}

.news-full-container .col-md-4 {
    display: flex;
    align-items: center;
    height: 100%;
}

.news-full-container .d-flex {
    width: 100%;
}


/* MTN filter */

.busines-items-novigator {
    margin: 30px 0;
}

.business-item {
    background-size: cover;
    display: flex;
    max-height: 350.6px;
    min-height: 350.6px;
    border-radius: 20px;
    align-items: flex-end;
    overflow: hidden;
    margin-top: 30px;
}

.business-item .business-item-contents {
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: linear-gradient( transparent, hsla(0, 0%, 0%, 1));
    width: 100%;
    padding: 30px;
    height: 100%;
}

.business-item .business-item-contents a {
    background: #ffcc00;
    color: #000;
    text-decoration: none;
    padding: 3px 20px 3px 10px;
    border-radius: 20px;
}

.business-item .business-item-contents h4,
.business-item .business-item-contents p {
    color: #fff;
}

.business-item .business-item-contents span {
    background-color: #fff;
    padding: 2px 5px;
    font-size: 12px;
}

.down-icon-filter {
    padding: 0!important;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.filter-button {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
}

.filter-button:hover {
    background-color: #000!important;
    color: #fff!important;
    margin-bottom: 0!important;
}


/* device filter */

.deals-item {
    height: 400px;
    padding: 30px;
    box-shadow: 1px 2px 5px 0px;
    margin: 20px 0;
    border-radius: 20px;
}

.bottom-section {
    padding: 30px 0;
}

.btm-down-section {
    display: flex;
    justify-content: space-between;
}

.btm-down-section p {
    flex: 5;
}

.btm-upper-section h1 {
    color: #ffcc00;
}

.btm-down-section .deal-items-icon {
    background-color: #ffcc00;
    color: #000;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.btm-down-section {
    padding-top: 20px;
}

.filter-first-btn,
.filter-scnd-btn {
    flex: 1;
}

.filter-one,
.filter-two,
.filter-two-category {
    border: 1px solid black;
    border-radius: 20px;
    width: 100%;
    height: 40px;
    background-color: white;
}

.see-all-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.see-all-btn a {
    background-color: #ffcc00;
    padding: 5px 40px;
    color: white;
    text-decoration: none;
    border-radius: 20px;
}

.hidden {
    display: none!important;
}


/* faq page */

.section-navigator-faq {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    box-shadow: 3px 0px 10px 1px;
    border-radius: 40px;
    padding: 10px;
}

.section-navigator-faq li {
    padding: 10px 30px;
}

.section-navigator-faq a {
    text-decoration: none;
    color: #000;
    cursor: pointer!important;
}

.section-navigator-faq .active-navigator-title {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
}

.section-navigator-faq a:hover {
    background-color: #ffcc00;
    color: #fff;
    border-radius: 20px;
}

.section-contents-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigator-button {
    border-bottom: #ffcc00 solid .2px;
}


/* single faq */

.section-navigator-single-faq {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    box-shadow: 3px 0px 10px 1px;
    border-radius: 20px;
    padding: 0;
    overflow: hidden
}

.section-navigator-single-faq li {
    padding: 10px 30px;
}

.section-navigator-single-faq a {
    text-decoration: none;
    color: #000;
    cursor: pointer!important;
}

.section-navigator-single-faq a.active-navigator-button {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
}

.section-navigator-single-faq li:hover {
    background-color: #ffcc00;
    color: #fff;
    border-radius: 20px;
}

.back-btn {
    background-color: #f2f2f2;
    color: #000;
    font-weight: bold;
    font-size: 18px;
    padding: 10px 30px;
    cursor: pointer;
}

.section-contents-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* vacancies */

.vacancies {
    padding: 30px;
    box-shadow: 0px 0px 8px 0px;
    margin: 20px 0;
    border-radius: 20px;
    min-height: 170px;
    display: flex;
}

.vacancies-post {
    align-self: center;
    width: 100%;
}

.vacancies .col-md-2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.deal-items-icon {
    background-color: #ffcc00;
    color: #000;
    border-radius: 50%;
    height: 45px;
    width: 45px;
    justify-content: center;
    align-items: center;
    display: flex;
}


/* loader */

.loader-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #ffcc00;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    /* Safari */
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* roaming */

.tble-header {
    text-align: end;
    background-color: #ffcc00;
}

.select-btn {
    height: 50px;
    border-radius: 30px;
    padding: 5px 10px;
    margin-bottom: 30px
}

.price-td {
    text-align: end
}

.navigator-roeming {
    margin: 30px 0
}

.roaming-table {
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    box-shadow: 6px 1px 12px 7px rgba(0, 0, 0, 0.077);
    overflow: hidden!important;
    padding: 20px!important;
}

.roaming-table .services td {
    border: 0!important;
    padding: 20px 10px;
}


/* .roaming-table .services:not(:last-child) {
    border-bottom: #000 solid 1px;
} */


/*** MAP Locator ***/

#wpsl-wrap.map-locator-section {
    position: relative;
    width: 100%;
    height: 400px;
}

.mtn-map-wrapper {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: auto;
}

#wpsl-gmap.mtn-gmap {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.mtn-filter-result-box #wpsl-result-list {
    width: 100%;
}

.mtn-search-form {
    display: flex;
}

.mtn-filter-result-box {
    position: absolute;
    top: auto;
    right: 60px;
    width: 400px;
    height: 100%;
    padding: 20px 0;
    z-index: 2;
}

.mtn-filter-result-box .container {
    display: flex;
    position: relative;
    height: inherit;
    flex-direction: column;
    background-color: #000;
    color: #fff;
    padding: 20px 40px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    width: 80%!important;
    left: 15%!important;
}

.mtn-map-results::-webkit-scrollbar {
    width: 5px;
}

.mtn-map-results::-webkit-scrollbar-track {
    background: #000;
}

.mtn-map-results::-webkit-scrollbar-thumb {
    background-color: #ffcc00;
    border-radius: 20px;
}

.mtn-filter-result-box .container a {
    color: #ffcc00;
}

#wpsl-stores {
    height: 100%;
}

.mtn-map-results {
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 100%;
}

.wpsl-street {
    font-size: 12px;
    font-weight: 400;
}

.DocSearch-Input {
    width: 100%!important;
    border-radius: 20px!important;
    margin: 20px 10px!important;
    background: transparent;
    border: #ffcc00 0.5px solid!important;
    -webkit-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -o-border-radius: 20px!important;
    color: #fff!important;
}

.mtn-filter-result-box .curve1 {
    transform: rotate(180deg);
}

.mtn-filter-result-box .curve1 {
    position: relative;
    display: block;
    height: 10px;
    bottom: 0;
    margin-top: 0;
    overflow: hidden;
}

.mtn-filter-result-box .curve1::after {
    border-radius: 50%;
    box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.05);
    height: 6px;
    bottom: 0;
    transform: translate(-5%, -100%);
    -ms-transform: translate(-5%, -100%);
    -webkit-transform: translate(-5%, -100%);
    content: "";
    position: absolute;
    width: 110%;
    z-index: -1;
    background: #000;
}


/* foundation */

.foundation-btn {
    border: 1px solid!important;
    border-radius: 20px!important;
    padding-left: 6px!important;
    padding: 8px 20px!important;
    -webkit-border-radius: 20px!important;
    -moz-border-radius: 20px!important;
    -ms-border-radius: 20px!important;
    -o-border-radius: 20px!important;
    margin: 10px 5px;
}

.fountaion-sec {
    box-shadow: inset 0 -10px 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    border-radius: 20px;
}

.foundation-btn.active {
    background-color: #ffcc00!important;
    border: 0px!important;
}

.foundation-img {
    border-radius: 20px 0 0 20px!important;
    /* min-height: 400px; */
    object-fit: cover;
    width: 100%;
}

.pagination li:hover {
    cursor: pointer;
}


/* tarrifs */

.bundles {
    width: 100%;
    box-shadow: 0px 0px 7px 0px;
    border-radius: 20px;
    padding: 8px;
}

.bunner {
    background: url(https://mtn.inoventyk.rw/wp-content/uploads/2022/10/Canada-1.png);
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    flex: 1;
}

.bundle-contents {
    flex: 1;
    margin: 0;
}

.bunner-texts {
    background: #ffcc0080;
    padding: 10px;
}

.navigator {
    margin: 20px 0;
}

.navigator select {
    padding: 10px;
    border-radius: 20px;
}


/* data bundle */

button {
    padding: 1em;
    border: 0;
    margin: 0 0.5em 0.5em -10px;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.nav-pills-btn {
    gap: 20px;
}

.f-cat {
    padding: 1em;
}

.row .f-cat {
    opacity: 0;
    display: none;
}

.row .f-cat.active {
    opacity: 1;
    display: block;
    -webkit-animation: fadeIn 0.65s ease forwards;
    animation: fadeIn 0.65s ease forwards;
}

.bundles-sec {
    width: 100%;
    box-shadow: 0px 0px 7px 0px rgb(0 0 0 / 48%);
    border-radius: 20px;
    padding: 8px;
    overflow: hidden;
    height: 100%;
}

.bunner {
    background: url(https://mtn.inoventyk.rw/wp-content/uploads/2022/10/Canada-1.png);
    width: 100%;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
}

.bunner-texts {
    background: #ffcc0080;
    padding: 10px;
}

.navigator-countries {
    margin: 20px 0;
    gap: 20px;
    display: flex;
}

.bundles-section th,
.bundles-section td {
    border: 0px;
}

.country-name,
.navigator {
    margin: 15px 0;
}

.navigator-country {
    padding: 8px 15px;
    background: #000;
    color: #fff!important;
    text-decoration: none;
    border-radius: 8px;
    text-transform: uppercase;
}

.navigator-country.active,
.navigator-country:hover {
    background: #ffcc00;
    color: #000;
}

.operators {
    display: flex;
    overflow-x: auto;
    width: 100%;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.operators span {
    background: black;
    color: #fff;
    padding: 5px 15px;
    border-radius: 12px;
    text-decoration: none;
    white-space: nowrap;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.cart-title-body {
    background-color: #D9D9D9;
    margin: -8px -8px 8px;
    padding: 8px;
}

.operators::-webkit-scrollbar,
.operator-sec::-webkit-scrollbar {
    display: none;
}


/* Hide scrollbar for IE, Edge and Firefox */

.operators {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.operator-sec {
    overflow-x: scroll;
    display: flex;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
}


/* tarifs */

#myTable_info,
#myTable_filter,
#myTable_length {
    display: none;
}

.paging_simple_numbers {
    justify-content: center;
    display: flex;
    gap: 20px;
    float: none!important;
}

.paginate_button {
    font-size: 16px;
    cursor: pointer;
    color: gray;
}

.paginate_button.current {
    color: black;
    font-weight: 800;
}

.select-btn {
    margin: 20px 0;
}

.select-plan,
.select-country {
    display: flex;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

.country-tarifs {
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 7px 0px;
    background: white;
}

.disactive {
    opacity: 1;
    display: none;
    -webkit-animation: fadeIn 0.65s ease forwards;
    animation: fadeIn 0.65s ease forwards;
}

.country-tarifs th {
    padding: 30px!important;
}

.country-tarifs td {
    padding: 10px 30px!important;
}

.filter-btn {
    margin-bottom: 30px;
}

.country-tarifs th {
    border: none!important;
}

.country-tarifs td {
    border-top: 1px solid #ffcc00!important;
    border-bottom: none!important;
    border-left: none!important;
    border-right: none!important;
}

.calling-tarifs {
    background-color: #fff!important;
}

.calling-tarifs th {
    border: none!important;
    padding: 30px!important;
}

.calling-tarifs td {
    border-top: 1px solid #ffcc00!important;
    border-bottom: none!important;
    border-left: none!important;
    border-right: none!important;
    padding: 5px 30px!important;
}


/* device filter */

.select-btn {
    margin: 20px 0;
}

.select-country {
    display: flex;
    width: 100%;
    border-radius: 20px;
    padding: 10px;
}

.single-device {
    padding: 20px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 8px;
    margin-top: 30px;
}

.col {
    display: flex;
    flex-direction: column;
}

.link-icon-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    background: #ffcc00;
    border-radius: 50%;
}

.device-details-contents h1 {
    color: #ffcc00;
}

.device-botm-sec {
    padding: 0!important;
}

.disactive {
    opacity: 1;
    display: none;
    -webkit-animation: fadeIn 0.65s ease forwards;
    animation: fadeIn 0.65s ease forwards;
}

.device-botm-sec {
    padding: 20px 0!important;
    justify-content: space-between;
}

.filter-tab-row {
    margin-bottom: 20px;
    padding: 20px;
}

.filter-tab-row input {
    box-shadow: 0px 0px 7px 0px;
}